<p id="notice"><%= notice %></p>

<h1>LAgn</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <tr><td colspan="2">Mutfak Bazli Yemek Listesi</td></tr>
    <% @menu.mekan_bazli_yemek.each_pair do |mekan,yemek| %>
    <tr><td colspan="2"><b><%=mekan.isim%> Yemek Listesi</b></td></tr>
    <tr><td>Yemek</td><td>Maliyet</td></tr>
    <%yemek.each do |y| %>
      <tr>
        <td><%=y.isim%></td><td><%=y.yemek_menu_maliyet(@menu.id)%> TL</td>
      </tr>
     <% end %>
    <%end%>
  </tbody>
</table>

<br>
