<p id="notice"><%= notice %></p>

<p>
  <strong>Isim:</strong>
  <%= @malzeme_kategori.isim %>
</p>

<%= link_to 'Edit', edit_malzeme_kategori_path(@malzeme_kategori) %> |
<%= link_to 'Back', malzeme_kategoris_path %>
