<p id="notice"><%= notice %></p>

<p>
  <strong>Isim:</strong>
  <%= @yemek_kategori.isim %>
</p>

<%= link_to 'Edit', edit_yemek_kategori_path(@yemek_kategori) %> |
<%= link_to 'Back', yemek_kategoris_path %>
