<p id="notice"><%= notice %></p>

<p>
  <strong>Isim:</strong>
  <%= @mekan_kategori.isim %>
</p>

<%= link_to 'Edit', edit_mekan_kategori_path(@mekan_kategori) %> |
<%= link_to 'Back', mekan_kategoris_path %>
