<p id="notice"><%= notice %></p>

<h1>Siparis Formlari</h1>

<table>
  <thead>
    <tr>
      <th>Menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @siparis_formus.each do |siparis_formu| %>
      <tr>
        <td><%= link_to "#{Menu.find_by_id(siparis_formu).isim}", menu_siparis_formu_path(:id => siparis_formu) %></td><td><%= Menu.find_by_id(siparis_formu).tarih %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
